---
layout: default
title: Homepage
navbar_title: Home
---

{% include widgets/profile_card.html %}

{% include widgets/url_debug_message.html %}

{% if site.data.display.homepage.show_experience %}
{% include widgets/experience_card.html %}
{% endif %}

{% if site.data.display.homepage.show_news %}
{% assign count_news = site.news | size %}
{% if count_news > 0 %}
{% include widgets/news_card.html %}
{% endif %}
{% endif %}

{% if site.data.display.homepage.show_selected_publications %}
{% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
{% 
    include widgets/publication_card.html 
    publications=pubs
    title='<i class="fas fa-star"></i> Selected Publications'
%}
{% endif %}

{% if site.data.display.homepage.show_latest_blogs %}
{% assign blogs = site.blogs | sort: "date" | reverse | limit: 5 %}
{% if blogs.size > 0 %}
<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
    <h6 class="border-bottom border-gray p-3 mb-0">
        <i class="fas fa-blog"></i> Recent Blog Posts
        <a href="{{ '/blog/' | relative_url }}">(view all <i class="fas fa-angle-double-right"></i>)</a>
    </h6>
    {% for blog in blogs %}
        <div class="my-3">
            <h5><a href="{{ blog.url }}">{{ blog.title }}</a></h5>
            <p class="small text-muted">{{ blog.date | date: "%b %d, %Y" }}</p>
            <p>{{ blog.excerpt }}</p>
        </div>
    {% endfor %}
    <h6 class="d-block p-3 mt-0 text-right">
        <a href="{{ '/blog/' | relative_url }}">All blogs <i class="fas fa-angle-double-right"></i></a>
    </h6>
</div>
{% endif %}
{% endif %}

{% if site.data.display.homepage.show_footer %}
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">
            {% if site.data.display.homepage.footer_text %}
                {{ site.data.display.homepage.footer_text | markdownify }}
            {% else %}
                <a href="https://github.com/luost26/academic-homepage" target="_blank"><i class="fas fa-pencil-ruler"></i> academic-homepage</a>
            {% endif %}
        </span>
    </div>
</footer>
{% endif %}
