body {
    font-family: Arial, sans-serif;
}

.header h1 {
    color: #333;
}

.profile img {
    float: left;
    margin-right: 20px;
}

.profile p {
    text-align: justify;
}

.footer {
    margin-top: 20px;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #06c;
    padding: 0 10px;
}
