@charset "utf-8";

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding-top: 5.0rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
}

.text-profile-position,
.text-profile-bio,
.name-text,
.organization-text,
.date-text {
    font-weight: 400;
}

.navbar {
    opacity: 0.95;
}

.inline-badge {
    height: 16px;
    vertical-align: -10%;
    margin-right: 2px;
    line-break: unset;
}

.no-break {
    white-space: nowrap;
}

.cover-image {
    width: 180px;
    max-height: 120px;
}

.abstract-body {
    min-height: 100px;
}

img.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

.badge-publication {
    font-size: 100%;
}

.email-text {
    font-family: Courier, monospace;
}

.logo-img {
    width: 18px;       /* 设置宽度为 18px */
    height: 18px;      /* 设置高度为 18px，保持 1:1 比例 */
    max-width: 100%;   /* 确保图标不会超出其容器 */
    object-fit: contain; /* 确保图标不会变形 */
    vertical-align: middle; /* 确保垂直对齐 */
}

.name-text {
    font-size: 1rem;  /* 设置名称文本的大小 */
}

.position-text,
.organization-text {
    font-size: 0.875rem; /* 设置职位和组织文本的大小 */
}

.date-text {
    font-size: 0.875rem; /* 设置日期文本的大小 */
}

/* Flexbox 布局 */
.media {
    display: flex;
    align-items: center; /* 确保垂直对齐 */
}

.d-flex {
    display: flex;
    align-items: center; /* 确保垂直对齐 */
}

/* 确保文本对齐一致 */
.mt-auto {
    margin-top: auto;
}

.ml-auto {
    margin-left: auto;
}

/* 确保列表项对齐 */
.media-body {
    display: flex;
    flex-direction: column; /* 垂直对齐 */
    justify-content: center; /* 垂直居中对齐内容 */
}

/* 使列表项具有相同的间距 */
li.media {
    margin-bottom: 0.5rem; /* 统一间距 */
}

/* 博客文章样式 */
.blog-post-title {
    font-size: 1.5rem; /* 设置标题大小 */
    font-weight: 700;  /* 加粗标题 */
    margin-bottom: 0.5rem; /* 标题下方间距 */
}

.blog-post-excerpt {
    font-size: 1rem; /* 设置摘要字体大小 */
    margin-bottom: 1rem; /* 摘要下方间距 */
}

.blog-post-cover {
    width: 100%; /* 让封面图像宽度适应容器 */
    max-height: 200px; /* 设置最大高度 */
    object-fit: cover; /* 让图像适应容器而不变形 */
}

.navbar {
    background-color: #f8f9fa; /* 背景色 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
}

.blog-post-container {
    padding: 1rem; /* 容器内边距 */
    border-bottom: 1px solid #eaeaea; /* 下边框 */
    margin-bottom: 1rem; /* 博客文章之间的间距 */
}

/* 响应式设计 */
@media (max-width: 768px) {
    .blog-post-title {
        font-size: 1.25rem; /* 在小屏幕上调整标题大小 */
    }

    .blog-post-excerpt {
        font-size: 0.875rem; /* 在小屏幕上调整摘要大小 */
    }
}
